<!--This is for the Aboutpage View-->


<!DOCTYPE html>
<html lang="en">
    <body>
        <div id = "About Page"></div>  <!--This identifies the page as the about page--->

        <%- include('layouts/navbarabout');-%> <!--This calls the navbarabout.ejs page-->
        <%- include('layouts/header');-%>   <!--This calls the header.ejs page-->

        <section class = site-body>
        <hr/>
        <br/>
        <h2>Current Aboutpage Under Construction</h2>
        <br/>
        <h3>This page will give information about how the project application works</h3>
        <br/>
        <h4>Application Information to follow:</h4>
        <br/>
        <hr/>
        </section>
        <%- include('layouts/footer');-%>   <!--This calls the footer.ejs page-->
        </div>
    </body>
</html>