<!---This is the footer layout-->

<footer class="site-footer">

    <p>This is the footer of Project Management System pages</p>

    <p>This is a Plymouth University Project currently under construction.</p>

    <p class="copyright">Copyright &copy; Daniel Buckley 2020</p>
</footer>