<!--This is for the Lecturerpage View-->


<!DOCTYPE html>
<html lang="en">
    <body>
        <div id = "Lecturer Page"></div>  <!--This identifies the page as the lecturer page--->
        
        <%- include('layouts/navbarlecturer');-%> <!--This calls the navbarhome.ejs page-->
        <%- include('layouts/header');-%>   <!--This calls the header.ejs page-->

        <section class = site-body>
        <hr/>
        <br/>
        <h2>Current Lecturerpage Under Construction</h2>
        <br/>
        <h3>This page will give information about the project application</h3>
        <br/>
        <h4>Application Information to follow:</h4>
        <br/>
        <hr/>
        </section>
        <%- include('layouts/footer');-%>   <!--This calls the footer.ejs page-->
        </div>
    </body>
</html>