<!--This is for the Notfound View-->

<!DOCTYPE html>
<html lang="en">
    <body>
        <div id = "Notfound Page"></div>  <!--This identifies the page as the notfound page--->

        <%- include('layouts/navbar');-%> <!--This calls the navbar.ejs page-->
        <%- include('layouts/header');-%>   <!--This calls the header.ejs page-->

        <section class = site-body-notfound>
        <br/>
        <h2>404 Page Not Found</h2>
        <br/>
        <h3>Please Navigate to another page.</h3>
        <br/>
        </section>
        <%- include('layouts/footer');-%>   <!--This calls the footer.ejs page-->
        </div>
    </body>
</html>