<!--This is for the Studentpage View-->

<!DOCTYPE html>
<html lang="en">
    <body>
        <div id = "Student Page"></div>  <!--This identifies the page as the student page--->
        
        <%- include('layouts/navbar');-%> <!--This calls the navbar.ejs page-->
        <%- include('layouts/header');-%>   <!--This calls the header.ejs page-->

        <section class = site-body-student>
        <br/>
        <h2>Student Dashboard</h2>
        <br/>
        <p>Welcome to the Student Dashboard.</p>
        <p>As a student, you can view module documents, by clicking on MODULE RECORDS.</p>
        <br/>
        <br/>
        </section>
        <%- include('layouts/footer');-%>   <!--This calls the footer.ejs page-->
        </div>
    </body>
</html>